.my_column_class{
    margin: 30px;
    min-height: 300px;
    background-color: silver;
    text-align: center;
    font-size: large;
}
.FormClass{ background: #ECECE3; margin-top: 15px; text-align: center;}
.FormClass {text-align: center;}
.FormClass  h1{  color: skyblue;
                     font-family: Verdana,Geneva,sans-serif;
                     font-size: 19px;}
.FormClass  input[type="text"]{margin-top: 10px;width:195px; border:0; height: 25px; padding: 5px;margin-bottom: 10px;}
.FormClass  input[type="date"]{margin-top: 10px;width:195px; border:0; height: 25px; padding: 5px;margin-bottom: 10px;}

.FormClass  input[type="tel"]{margin-top: 10px;width:195px; border:0; height: 25px; padding: 5px;margin-bottom: 10px;}
.FormClass  select{margin-top: 10px;width:195px; border:0; height: 25px; padding: 5px;margin-bottom: 10px;}

.FormClass  input[type="email"]{margin-top: 10px;width:195px; border:0; height: 25px; padding: 5px;margin-bottom: 10px;}
.FormClass  input[type="password"]{width: 195px;  border:0; height: 25px;padding: 5px;margin-bottom: 10px; }
.FormClass  textarea{width:247px;  
                         border-radius: 25px;
                         border:0px; height: 90px; padding: 10px;
                         text-align: center;
                         font-family: Verdana,Geneva,sans-serif;
                         font-size: 12px;
                         text-align: justify;
                         margin-bottom: 10px;}

.FormClass input[type="submit"]{
    width: 200px;
    height: 40px;
    background-color: #333;
    color: #f5f4f4;
    border:0px;
    border-radius: 25px;
}
.FormClass input[type="file"]{
    width: 140px;
    height: 30px;
    color: #808080;
    border:0px;

}